# Data Science Project

## Introduction
This is Introduction.

## Data Science Languages
- Python
- R
- SQL
- Java
- Julia

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- SciPy
- scikit-learn

## Data Science Tools

| Tool               | Type            |
|--------------------|-----------------|
| Jupyter Notebook   | Interactive Dev |
| TensorFlow         | Machine Learning|
| Tableau            | Data Visualization |
| Apache Hadoop      | Big Data Processing |
| GitHub             | Version Control |

## Arithmetic Expression Examples
we will explore basic arithmetic operations like addition and multiplication.

In [1]:
a = 5
b = 3

sum_result = a + b
mul_result = a * b

sum_result, mul_result

(8, 15)

## Code cell to convert minutes to hours

In [2]:

def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

minutes = 120
hours = minutes_to_hours(minutes)
hours

2.0

## Objectives
- Demonstrate data science languages and libraries.
- Show usage of basic arithmetic expressions.
- Perform unit conversion from minutes to hours.
- Explore data science tools through tables.

## Author
This notebook was created by Turki Almutairi.